
# automake/autoconf files
#
aclocal.m4
autom4te.cache/*

build-aux/missing
Makefile.in
config.h.in
configure
m4/*

# backup files
#
*~
*.bak

# Visual Studio temp
.vs/
*.obj
Debug/
*.vcxproj.user

# mingw
Makefile
.deps
*.o
.libs
*.exe
*.lo
*.la
