Makefile.in
aclocal.m4
alt-cannadic/Makefile.in
anthy/Makefile.in
calctrans/Makefile.in
compile
config.guess
config.h.in
config.sub
configure
depcomp
depgraph/Makefile.in
doc/Makefile.in
install-sh
ltmain.sh
m4/
missing
mkanthydic/Makefile.in
mkanthydic/corpus_info
mkanthydic/weak_words
mkworddic/Makefile.in
src-diclib/Makefile.in
src-main/Makefile.in
src-ordering/Makefile.in
src-splitter/Makefile.in
src-util/Makefile.in
src-worddic/Makefile.in
test/Makefile.in

