#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DIC_DIR=usr/share/anthy/dic
DIC_LIST=2ch.t udict zipcode.t utf8.t tankanji.t extra.t compound.t base.t \
	  adjust.t gtankan.ctd gcannaf.ctd gcanna.ctd

export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --sysconfdir=/etc/anthy

override_dh_auto_clean:
	debconf-updatepo
	dh_auto_clean

override_dh_builddeb:
	dh_builddeb -Nanthy-common
# it reduces anthy-common's size
	dh_builddeb -panthy-common -- -Zxz
